summary{
    color: brown;
}
h2{
    color: brown;
}
ul{
    color: brown;
}
p{
    color: brown;
}
table{
    color: brown;
}
tr{
    color: brown;
}h3{
    color: brown;
}
dl{
    color: brown;
}
h1{
    color: brown;
}
time{
    color:tomato;
}
h4{
    color: blueviolet;
}